:root {
    --primary_color: #113F67;
    --secondary_color: white;
    --title_font: "serif", Arial, sans-serif;
    --body_font: "sans-serif", Arial, "noto sans", Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--body_font);
    color: var(--secondary_color);
    line-height: 1.6;
}

header,
main,
footer {
    width: 100%;
    margin: 0 auto;
    background-color: var(--primary_color);
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--title_font);
}

.logo {
    display: flex;
    align-items: center;
    padding: 10px 13px;
    margin-right: 10px;
}

.logo h1 {
    margin-left: 3px;
}

.logo img {
    margin-top: 8px;
    border-radius: 90%;
}


@media (max-width: 1500px) {
    header {
        font-size: 20px;
    }

    header nav {
        padding-right: 10px;
    }
    .main-section button {
        border: none;
        font-weight: bold;
        padding: 1rem 10rem;
        font-size: 2rem;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    .main-section button:hover {
       font-weight: bold;
    }
}
@media (max-width: 730px) {
    .logo {
        margin: 0;
        font-family: var(--title_font);
    }

    .logo img {
        width: 40px;
        height: auto;
        object-fit: cover;
        margin-top: 6px;
        border-radius: 60%;
    }

    .logo h1 {
        font-size: 15px;
    }

    header nav {
        display: flex;
        width: 100%;
        align-items: center;
        gap: 1px;
        justify-content: space-between;
    }

    header nav ul {
        list-style: none;
        display: flex;
        justify-content: flex-end;
        flex: 1;
        align-items: center;
        padding-right: 0;
    }

    header nav ul li {
        text-align: center;
        margin-left: 10px;
    }
    header nav ul li a {
        color: var(--secondary_color);
        text-decoration: none;
        font-weight: bold;
        font-family: var(--title_font);
        padding: 0;
        border-radius: 2px;
        transition: background-color 0.3s ease;
        font-size: 12px;
    }
    /* --- Beginning of the main part in the HM */
    .main-section {
    text-align: center;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
    .main-section h1 {
        margin-top: .5%;
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    .main-section p {
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    .main-section button {
        background-color: #3396D3;
        color: var(--secondary_color);
        border: none;
        font-weight: bold;
        padding: 1rem 5rem;
        font-size: 1rem;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    .main-section button:hover {
        background-color: #e0e0e0;
        color: black;
        font-weight: bold;
    }
}
/* Another media query for very small screens */
@media (max-width: 400px) {
    header nav {
        justify-content: space-between;
        flex-wrap: nowrap;
        overflow-x: auto;
    }
    header nav ul li a {
        white-space: nowrap;
        flex-shrink: 1;
    }
    .main-section {
    text-align: center;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    }
    .main-section h1 {
        margin-top: .5%;
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    .main-section p {
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    .main-section button {
        border: none;
        float: left;
        font-weight: bold;
        padding: 20px 30px;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    .main-section button:hover {
        font-weight: bold;
    }
}

header nav ul {
    list-style: none;
    display: flex;
    flex: 1;
    gap: 1px;
    align-items: center;
    padding-right: 20px;
}

header nav ul li a {
    color: var(--secondary_color);
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
    margin: 1.5rem 0.2rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 120000px;
    align-items: center;
    padding: 0 20px;
}

header nav ul li a:hover {
    background-color: var(--secondary_color);
    color: var(--primary_color);
}
.main-section {
    text-align: center;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.main-section h1 {
    font-size: 2.5rem;
    margin: .5% 0 1rem 0;
}
.main-section p {
    font-size: 1.2rem;
    margin: 0 0 1rem 0;
}
.main-section button {
    background-color: #3396D3;
    color: var(--secondary_color);
   
}
.main-section button:hover {
    background-color: #e0e0e0;
    color: black;
    
}