:root{
    --primary_color:  #113F67;
    --secondary_color: white;
    --title_font: "serif", Arial, sans-serif;
    --body_font: "sans-serif", Arial, "noto sans", Helvetica, sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: var(--body_font);
    color: var(--secondary_color);
    line-height: 1.6;
}
header, main, footer {  
    width: 100%;
    margin: 0 auto;
    background-color: var(--primary_color);
}
h1, h2, h3, h4, h5 {
    font-family: var(--title_font);
}
.logo {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin-right: 10px;
}
.logo h1 {
    margin-left: 3px;
}
.logo img {
    margin-top: 8px;
    border-radius: 90%;
}
header {
    display: grid;
    gap: 3px;
    grid-template-columns: 1fr auto;
}
@media (max-width: 500px) {
    header {
    flex-direction: column;
    align-items: center;
    }
    header {
    display: grid;
    gap: 0.1rem;
    grid-template-columns: 1fr auto;
    }  
    header nav ul li a {
    color: var(--secondary_color);
    text-decoration: none;
    font-weight: bold;
    padding: 0rem 55rem;
    margin: 0.5rem 0.5rem;
    border-radius: 2px;
    transition: background-color 0.3s ease;
    font-size: 10px;
    }
    header nav ul {
    list-style: none;
    display: flex;
    gap: 1px;
    align-items: center;
    padding-right: 17px;
    }
    .logo img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-top: 6px;
    border-radius: 60%;
    }
    .logo h1 {
    font-size: 15px;
    }
    .container{
        width: 100%;
    }
}
/* this is a test */
header nav {
    display: grid;
    align-items: center;
}
header nav ul {
    list-style: none;
    display: flex;
    gap: 1px;
    align-items: center;
    padding-right: 20px;
}
header nav ul li a {
    color: var(--secondary_color);
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
    margin: 1.5rem 0.2rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}
.container {
    display: flex;
    justify-content: space-between;
    max-width: 120000px;
    align-items: center;
    padding: 0 20px;
}
header nav ul li a:hover {
    background-color: var(--secondary_color);
    color: var(--primary_color);
}